  <input type="text" class="form-control" placeholder="Name" [(ngModel)]="currName" >
  <input type="text" class="form-control" placeholder="Name"  #nameInput >
  <input type="text" class="form-control" placeholder="LastName" #lastNameInput >
  <input type="text" class="form-control" placeholder="Email" [(ngModel)]="currEmail">
  <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="currPhone">
  <input type="text" class="form-control" placeholder="Address" [(ngModel)]="currAddress">
  <button class="btn btn-primary" (click)="addContact()">Add</button>
  <button class="btn btn-primary" (click)="sendString(nameInput.value,lastNameInput.value)">Add2</button>

